/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/routes/myweb.php
/config/database.php
app/Http/Controllers/ArticleController.php
database/migrations/2017_08_15_020601_create_article_table.php


!/config/database.php
